<style>
  .btn-delete{
    background: white;
    color: red;
    border: none;
  }
  .btn-delete:hover {
    background-color: red;
    color: white;
  }
</style>
<div style="width: 90%" align="center">
  <h1>Add new car</h1>
  <br>
  <form (ngSubmit)="onSubmitCreate()" >

    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Select gas type </b>
      <select class="form-control" id="gasType">
        <option value="Gas">Gas</option>
        <option value="Oil">Diesel</option>
        <option value="LPG">LPD</option>
      </select>
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="text" id="carType" class="form-control" placeholder="Input car type" required
             [(ngModel)]="carType"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="text" id="carModel" class="form-control" placeholder="Input car model" required
             [(ngModel)]="carModel"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="text" id="transmissionType" class="form-control" placeholder="Input transmission type" required
             [(ngModel)]="transmissionType"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="text" id="carClass" class="form-control" placeholder="Input car class" required
             [(ngModel)]="carClass"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="lowerPrice" class="form-control" placeholder="Input lower price" required
             [(ngModel)]="lowerPrice"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="upperPrice" class="form-control" placeholder="Input upper price" required
             [(ngModel)]="upperPrice"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="kmAmount" class="form-control" placeholder="Input km amount" required
             [(ngModel)]="kmAmount"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="kmPlanAmount" class="form-control" placeholder="Input km plan amount" required
             [(ngModel)]="kmPlanAmount"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Select cdw </b>
      <input type="checkbox" id="cdw" class="form-control" required
             [(ngModel)]="cdw"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="kidsSeats" class="form-control" placeholder="Input kids seats" required
             [(ngModel)]="kidsSeats"
             [ngModelOptions]="{standalone: true}"
      />
    </div>

    <div class="form-group">
      <label>Images </label>
      <input type="file" class="form-control" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf, image/*" (change)="changeListener($event)"
             [disabled]="base64Images.size == 5"
      >
    </div>



    <div class="form-group" style="margin-top: 20px">
      <button class="btn btn-success" type="submit" >Create</button>
    </div>

  </form>

  <div>
    <table>
      <tr>

        <td *ngFor="let image of base64Images">
          <table align="center">
            <tr>
              <img src="{{image}}" height="100px" />
            </tr>
            <tr>
              <button class="btn-delete" (click)="removeImage(image)">Remove</button>
            </tr>
          </table>

        </td>
      </tr>
    </table>
  </div>

</div>
