<style>
  .btn-delete{
    background: white;
    color: red;
    border: none;
  }
  .btn-delete:hover {
    background-color: red;
    color: white;
  }
</style>
<div style="width: 90%" align="center">
  <h1>Add new car</h1>
  <br>
  <form (ngSubmit)="onSubmitCreate()" >

    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Fuel type </b>
      <select [(ngModel)]="fuel_type" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let fuel of fuelTypes" [value]="fuel.name" required>
          {{fuel.name}}
        </option>
      </select>
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Brand </b>
      <select [(ngModel)]="brand" [ngModelOptions]="{standalone: true}" (change)="getModelsFromBrand()">
      <option *ngFor="let brand of brands" [value]="brand.name" required>
        {{brand.name}}
      </option>
    </select><br/>
    </div>
    <div class="form-group" style="margin-bottom: 5px">

      <b style="color:#33ccbb">Model</b>
      <select [(ngModel)]="model" [ngModelOptions]="{standalone: true}" >
        <option *ngFor="let model of models" [value]="model" required>
          {{model}}
        </option>
      </select><br/>

    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Transmission</b>
      <select [(ngModel)]="transmission" [ngModelOptions]="{standalone: true}" >
        <option *ngFor="let tran of transmissions" [value]="tran.name" required>
          {{tran.name}}
        </option>
      </select><br/>
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Class</b>
      <select [(ngModel)]="vehicle_class" [ngModelOptions]="{standalone: true}" >
        <option *ngFor="let class of vehicleClasses" [value]="class.name" required>
          {{class.name}}
        </option>
      </select><br/>
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="price" class="form-control" placeholder="Input price" required
             [(ngModel)]="price"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="mileage" class="form-control" placeholder="Input mileage" required
             [(ngModel)]="mileage"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="text" id="companyUsername" class="form-control" placeholder="Input company username" required
             [(ngModel)]="companyUsername"
             [ngModelOptions]="{standalone: true}"
      />
    </div>

    <div id="datesDiv">
      <table align="center">
        <tr>
          <th>Starting date</th>
          <th>Ending date</th>
        </tr>
        <tr>
          <th>
            <input type="date" id="startDate" class="form-control"required
                   [(ngModel)]="startDate"
                   [ngModelOptions]="{standalone: true}"
                   ng-model="ddd"


            />
          </th>
          <th>
            <input type="date" id="endDate" class="form-control" required
                   [(ngModel)]="endDate"
                   [ngModelOptions]="{standalone: true}"
                   ng-model="ddd"
            />
          </th>

        </tr>
      </table>
    </div>


    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="allowed_mileage" class="form-control" placeholder="Input allowed mileage" required
             [(ngModel)]="allowed_mileage"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Collision damage waiver </b>
      <input type="checkbox" id="collision_damage_waiver" class="form-control" required
             [(ngModel)]="collision_damage_waiver"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <b style="color:#33ccbb">Limited rent mileage </b>
      <input type="checkbox" id="limited_rent_mileage" class="form-control" required
             [(ngModel)]="limited_rent_mileage"
             [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group" style="margin-bottom: 5px">
      <input type="number" id="child_seat" class="form-control" placeholder="Input child seats" required
             [(ngModel)]="child_seat"
             [ngModelOptions]="{standalone: true}"
      />
    </div>

    <div class="form-group">
      <label>Images </label>
      <input type="file" class="form-control" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf, image/*" (change)="changeListener($event)"
             [disabled]="base64Images.size == 5"
      >
    </div>



    <div class="form-group" style="margin-top: 20px">
      <button class="btn btn-success" type="submit" >Create</button>
    </div>

  </form>

  <div>
    <table>
      <tr>

        <td *ngFor="let image of base64Images">
          <table align="center">
            <tr>
              <img src="{{image}}" height="100px" />
            </tr>
            <tr>
              <button class="btn-delete" (click)="removeImage(image)">Remove</button>
            </tr>
          </table>

        </td>
      </tr>
    </table>
  </div>

</div>
