
<style>
  .table-main {
    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .btn-delete{
    background: white;
    color: red;
    border: none;
  }
  .btn-delete:hover {
    background-color: red;
    color: white;
  }

  .btn-add{
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
  }
  .btn-add:hover {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<br/>
<br/><br/>

<div id="datesDiv" align="center">

  <table align="center">
    <tr>
      <th>Starting date</th>
      <th>Ending date</th>
    </tr>
    <tr>
      <th>
        <input type="date" id="startingDate" class="form-control"required
               [(ngModel)]="selectedStartingDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"


        />
      </th>
      <th>
        <input type="date" id="endingDate" class="form-control" required
               [(ngModel)]="selectedEndingDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"
        />
      </th>

    </tr>
  </table>
</div>
<br/>

<table >
  <tbody>
  <tr>
    <td>
      <div id="table-cars" align="center">


        <table class="table-main" align="center">
          <thead>
            <tr>
            <tr bgcolor = green >
              <th>Model</th>
              <th>Owner</th>
              <th>Price</th>
              <th>Add occupation</th>
              <th>Delete</th>
              <th>Show comments</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let car of usersCars" >
              <td>{{car.model}}</td>
              <td>{{car.companyUsername}}</td>
              <td>{{car.price}}</td>
              <th><button class="btn-add" (click)="addOccupation(car.id)">Add</button></th>
              <th><button class="btn-delete" (click)="deleteCar(car.id)">Delete</button></th>
              <th><button>Show comments</button></th>
            </tr>
          </tbody>

        </table>
      </div>
    </td>
    <td>
    <div>
      <table>
        <thead>
          <tr>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td><td>Dobar kom,enata dfafkjnaef aekjahefkjaehf aeiufdnaeifn aekjfnaefef feklaafkjh</td>
          </tr>

          <tr>
            <td>2</td><td>Dobar kom,enata dfafkjnaef aekjahefkjaehf aeiufdnaeifn aekjfnaefef feklaafkjh</td>
          </tr>

          <tr>
            <td>3</td><td>Dobar kom,enata dfafkjnaef aekjahefkjaehf aeiufdnaeifn aekjfnaefef feklaafkjh</td>
          </tr>

        </tbody>
      </table>
    </div>
    </td>
  </tr>
  </tbody>
</table>


