<style>
  .table-main {
    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .btn-delete{
    background: white;
    color: red;
    border: none;
    border-radius: 5px;
  }
  .btn-delete:hover {
    background-color: red;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<br/>

<br/><br/>


  <br/>

  <div align="center">

    <input placeholder="Username" [(ngModel)]="userName" />
    <button (click)="getCartItems()">Get all basket items</button>
    <table class="table-main" align="center">
      <br/>
      <br/>
      <tr>
      <tr bgcolor = green >
        <th>Vehicle id</th>
        <th>Vehicle name</th>
        <th>Price</th>
        <th>Owner username</th>
        <th>Start date</th>
        <th>End date</th>

      </tr>

      <tr *ngFor="let item of cartItems" >
        <td>{{item.vehicle_id}}</td>
        <td>{{item.vehicle_name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.owner_username}}</td>
        <td>{{item.time_span.startDate}}</td>
        <td>{{item.time_span.endDate}}</td>
        <th><button class="btn-add">Buy</button></th>
        <th><button class="btn-add">Delete</button></th>
      </tr>

    </table>


  </div>
