<p>basket works!</p>
<style>
  .table-main {
    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .btn-delete{
    background: white;
    color: red;
    border: none;
    border-radius: 5px;
  }
  .btn-delete:hover {
    background-color: red;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<br/>

<br/><br/>


  <br/>

  <div align="center">


    <table class="table-main" align="center">
      <tr>
      <tr bgcolor = green >
        <th>Model</th>
        <th>User</th>
        <th>Fuel</th>
        <th>Doors</th>
        <th>Price</th>
        <th>Add to basket</th>

      </tr>
      <tr>
        <td>Add info</td>
        <td>Add info</td>
        <td>Add info</td>
        <th>Add info</th>
        <th>Add info</th>
        <th><button class="btn-delete">REMOVE</button></th>
      </tr>

    </table>


  </div>
