<style>
  .button-head {
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
  }
  .button-head:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
</style>
<header>
  <button class="button-head" *ngIf="someoneLoggedIn" (click)="goHome()">HOME</button>
  <button class="button-head" *ngIf="clientLoggedIn" (click)="goBasket()">BASKET</button>
  <button class="button-head" *ngIf="someoneLoggedIn" (click)="goMyPage()">MY PROFILE</button>
  <button class="button-head" *ngIf="someoneLoggedIn" (click)="goAddCar()">PLACE AD</button>
  <button class="button-head"  *ngIf="adminLoggedIn" (click)="goAdminPage()">ADMIN PAGE</button>
  <button class="button-head"  *ngIf="adminLoggedIn" (click)="goPermission()">PERMISSION PAGE</button>
  <span style="float:right;">
      <button class="button-head" *ngIf="!someoneLoggedIn" (click)="goRegisterPage()">REGISTER</button>
      <button class="button-head" *ngIf="!someoneLoggedIn" (click)="goLogin()">LOGIN</button>
      <button class="button-head" *ngIf="someoneLoggedIn" (click)="logout()">Log out</button>

  </span>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


