<style>
  .table-main {
    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .btn-search{
    background: white;
    color: #4CAF50;
    border: none;
  }
  .btn-search:hover {
    background-color: #4CAF50;
    color: white;
  }

  .btn-add{
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
  }
  .btn-add:hover {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<br/>
<div align="center" >
  <img src="assets/logo.png" alt="Logo" width="300" height="300" >
</div>
<br/><br/>
<div id="search-form" align="center">

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <input type="checkbox" (change)="onCheckboxChange($event)">
    <label for="">Advanced search?</label>
 </div>
 <form *ngIf="searchChoose" (ngSubmit)="getCarsBySearchAdvanced()">
  <div class="form-group">
  <table align="center">
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Gas type</th>
      <th>Transmission type</th>
      <th>Price</th>
      <th>Km amount</th>
      <th>Planned Km amount</th>
      <th>CDW</th>
      <th>Kids seats</th>
    </tr>
    <tr>
      <th>
        <input type="text" id="brand" class="form-control" [(ngModel)]="selectedBrand" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <input type="text" id="model" class="form-control" [(ngModel)]="selectedModel" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <select name="" id="gasType"  [(ngModel)]="selectedGas" [ngModelOptions]="{standalone: true}">
          <option selected value="Diesel">Diesel</option>
          <option value="Electricity">Electricity</option>
          <option value="Gaseline">Gaseline</option>
        </select>
      </th>
      <th>
        <select name="" id="transmissionType"  [(ngModel)]="selectedTrans" [ngModelOptions]="{standalone: true}">
          <option selected value="Automatic">Automatic</option>
          <option value="Manual">Manual</option>
        </select>
      </th>
      <th>
        <input type="number"  class="form-control" [(ngModel)]="selectedPrice1" [ngModelOptions]="{standalone: true}">
        <input type="number"  class="form-control" [(ngModel)]="selectedPrice2" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <input type="number" class="form-control" [(ngModel)]="selectedKMAmount" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <input type="number" class="form-control" [(ngModel)]="selectedPlannedKMAmount" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <input type="checkbox"  class="form-control" [(ngModel)]="selectedCDW" [ngModelOptions]="{standalone: true}">
      </th>
      <th>
        <input type="number" class="form-control" [(ngModel)]="selectedKidsSeats" [ngModelOptions]="{standalone: true}">
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <button class="btn-search" id="btn-search"  type="submit">
          SEARCH
        </button>
      </th>
    </tr>
  </table>
  </div>
</form>
  <form *ngIf="!searchChoose" (ngSubmit)="getCarsBySearch()">
    <div class="form-group">
    <table align="center">
      <tr>
        <th>City</th>
        <th>Starting date</th>
        <th>Ending date</th>
      </tr>
      <tr>
        <th>
        <input type="text" placeholder="City" id="city" [(ngModel)]="selectedPlace" class="form-control" [ngModelOptions]="{standalone: true}">
        </th>

        <th>
        <input type="date" id="startingDate" class="form-control"required
               [(ngModel)]="selectedStartDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"


        />
        </th>
        <th>
        <input type="date" id="endingDate" class="form-control" required
               [(ngModel)]="selectedEndDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"
        />
        </th>

        <th>
          <button class="btn-search" id="btn-search"  type="submit">
            SEARCH
          </button>
        </th>
      </tr>
    </table>
    </div>
  </form>
<br/>
<br/>
</div>
<div id="table-cars" align="center">


    <table class="table-main" align="center">
      <tr>
      <tr bgcolor = green >
        <th>Model</th>
        <th>Brand</th>
        <th>Price</th>
        <th>More info</th>
        <th>Add to basket</th>

      </tr>

      <tr *ngFor="let car of cars" >
        <td>{{car.model}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.price}}</td>
        <th><button class="btn-add" (click)="moreInfo(car.id)">More info</button></th>
        <th><button class="btn-add" (click)="addToBasket(car.id, car.model, car.price, car.companyUsername)">Add</button></th>
      </tr>


    </table>


</div>
