<style>
  .table-main {
    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .btn-search{
    background: white;
    color: #4CAF50;
    border: none;
  }
  .btn-search:hover {
    background-color: #4CAF50;
    color: white;
  }

  .btn-add{
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
  }
  .btn-add:hover {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<br/>
<div align="center" >
  <img src="assets/logo.png" alt="Logo" width="300" height="300" >
</div>
<br/><br/>
<div id="search-form" align="center">
  <form (ngSubmit)="getCarsBySearch()">
    <div class="form-group">
    <table align="center">
      <tr>
        <th>City</th>
        <th>Starting date</th>
        <th>Ending date</th>
      </tr>
      <tr>
        <th>
        <input type="text" placeholder="City" id="city" [(ngModel)]="selectedPlace" class="form-control" [ngModelOptions]="{standalone: true}">
        </th>

        <th>
        <input type="date" id="startingDate" class="form-control"required
               [(ngModel)]="selectedStartDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"


        />
        </th>
        <th>
        <input type="date" id="endingDate" class="form-control" required
               [(ngModel)]="selectedEndDate"
               [ngModelOptions]="{standalone: true}"
               ng-model="ddd"
        />
        </th>

        <th>
          <button class="btn-search" id="btn-search"  type="submit">
            SEARCH
          </button>
        </th>
      </tr>
    </table>
    </div>
  </form>
<br/>
<br/>
</div>
<div id="table-cars" align="center">


    <table class="table-main" align="center">
      <tr>
      <tr bgcolor = green >
        <th>Model</th>
        <th>Brand</th>
        <th>Price</th>
        <th>More info</th>
        <th>Add to basket</th>

      </tr>

      <tr *ngFor="let car of cars" >
        <td>{{car.model}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.price}}</td>
        <th><button class="btn-add" (click)="moreInfo(car.id)">More info</button></th>
        <th><button class="btn-add" (click)="addToBasket(car.id)">Add</button></th>
      </tr>


    </table>


</div>
